#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid #d6d6d8;
  font-family: 'Roboto', sans-serif; }
  #header h1 {
    color: black;
    font-size: 18; }
  #header .link a {
    padding-left: 25px;
    text-decoration: none;
    color: grey;
    font-size: 12;
    transition-property: all;
    transition-duration: 0.3s; }
    #header .link a:hover {
      color: #69c9fc;
      font-weight: 400; }

#hero {
  padding-left: 35px;
  padding-right: 35px;
  height: 80px;
  border-bottom: 1px solid #d6d6d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif; }
  #hero .link2 a {
    padding-right: 10px;
    text-decoration: none;
    color: grey;
    font-size: calc($m-font-3); }
    #hero .link2 a:hover {
      color: #69c9fc; }
  #hero div .fas {
    color: grey;
    font-size: calc($m-font+3);
    padding-right: 10px;
    cursor: pointer; }
    #hero div .fas:hover {
      color: black; }

#main {
  background-color: #e7f1f3; }
  #main h2 {
    text-align: center;
    margin: 0;
    padding: 35px 0 35px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18; }
  #main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.btn-card {
  height: 65px;
  border: none;
  border-top: solid 1px #d6d6d8;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12;
  transition: all 0.3s linear; }
  .btn-card:hover {
    background-color: #68b4e4;
    color: white;
    box-shadow: 0px 2px 5px 0px #919191; }
  .btn-card:focus {
    background-color: #68b4e4;
    color: white;
    outline: none; }

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0px 3px 0px #919191;
  width: 380px;
  height: 500px;
  margin: 20px;
  position: relative; }
  .user-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px #919191;
    margin: 40px 114px 35px 114px; }
  .user-card .card-tittle {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    font-weight: 500 !important;
    font-size: 25 !important;
    color: #303030; }
  .user-card .card-subtittle {
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12; }
    .user-card .card-subtittle.gris {
      color: grey; }
    .user-card .card-subtittle.verde {
      color: #33c733;
      text-shadow: 0px 2px 5px 0px #51a851; }
    .user-card .card-subtittle.azul {
      color: #68b4e4; }
    .user-card .card-subtittle.rosa {
      color: #dd12dd; }
  .user-card .card-links {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: calc($m-font-3);
    margin-bottom: 15px; }
    .user-card .card-links a {
      text-decoration: none;
      background-color: white;
      color: #202020;
      border-radius: 15px 15px 15px 15px;
      border: 1px solid #d6d6d8;
      padding: 7px;
      margin-left: 5px;
      margin-right: 5px;
      transition: all 0.2s linear; }
    .user-card .card-links a:hover {
      text-decoration: none;
      background-color: #68b4e4;
      color: white;
      border: none;
      border-radius: 15px 15px 15px 15px;
      box-shadow: 0px 2px 5px 0px #919191; }
  .user-card .price {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18;
    color: #303030; }
  .user-card:hover {
    transform: translate(0px, 0px, 5px); }

.btn-card {
  height: 65px;
  border: none;
  border-top: solid 1px #d6d6d8;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12;
  transition: all 0.3s linear; }
  .btn-card:hover {
    background-color: #68b4e4;
    color: white;
    box-shadow: 0px 2px 5px 0px #919191; }
  .btn-card:focus {
    background-color: #68b4e4;
    color: white;
    outline: none; }
