@import "../Common/variables";

#hero{
    padding-left: $padding-xl;
    padding-right: $padding-xl;
    height: 50px;
    border-bottom: 1px solid $color_6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:  'Roboto', sans-serif;
    @include breakpoint-mobile-1{
        height: 80px;
    }
    .link2{
        display: none;
        @include breakpoint-mobile-1{
            display: block;
            a{
                padding-right: $padding-s;
                text-decoration: $link-text;
                color:$color_2;
                font-size: calc($m-font-3);
                &:hover{
                    color:$color_3;
                    //prueba de tarea
                    @include position(130px,240px)
                }
            }
        }
        
    }
    div{
        .fas{
            color:crimson;
            font-size: calc($m-font+3);
            padding-right: $padding-s;
            cursor: pointer;
        }
        @include breakpoint-mobile-1{
            .fas{
                color:$color_2;
                font-size: calc($m-font+3);
                padding-right: $padding-s;
                cursor: pointer;
                &:hover{
                    color:$color_3;
                }
            }
        }
    }
    .prueba-mxn p{
        text-decoration: $link-text;
        background-color: $color_7;
        color:rgb(32, 32, 32);
        border-radius: 15px 15px 15px 15px;
        border: 1px solid $color_6;
        padding: $padding-ss;
        margin: 0;
        @include float-1{
            transition: .5s;
            cursor: pointer;
            &:hover{
                transform: translateY(-20px);
                box-shadow: 0 10px 15px rgba(0,0,0,0.3);
                background-color:rgb(81, 168, 81) ;
                border: none;
                color:$color_7;
            }
        }
    }
}