//weidth fuentes
$thin-font:100;
$light-font:300;
$regular-font:400;
$medium-font:500;

//tamaños fuente
$s-font:12;
$m-font:18;
$l-font:25;
$xl-font:35;


//colors
$color_1:rgba(0, 0,0,0.3);
$color_2:grey;
$color_3:#69c9fc;//hovers
$color_4:#68b4e4;
$color_5:#e7f1f3;//fondo color
$color_6:#d6d6d8; //border color
$color_7:white;

//padings
$padding-xs:5px;
$padding-ss:7px;
$padding-s:10px;
$padding-m:20px;
$padding-l:25px;
$padding-xl:35px;

//margins
$margin-s:10px;
$margin-m:20px;
$margin-l:25px;
$margin-xl:35px;

//otros
$link-text:none;

//variables para img
$photo: 150px;
$border-radius:50%;